.CardHero {
  margin: 50px 0 20px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.CardGroup h2 {
  color: white;
}

.CardGroup p {
  color: white;
}

.CardHero h1 {
  text-align: center;
  margin: 50px 20px;
  font-size: 40px;
  align-items: center;
  font-weight: 700;
  background: linear-gradient(156.9deg, #14f1d9 0%, #3672f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
