.Header {
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
}

.Header.scrolled {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 0;
  /* backdrop-filter: blur(20px); */
}

.HeaderGroup {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
}
.Header a {
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
  padding: 8px 20px;
}

.Header button {
  background: #e8e9b3;
  padding: 8px 20px;
  font-size: 20px;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 1s;
}

.Header button:hover {
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY (-3px);
}

.Header a:hover {
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY (-3px);
  color: black;
  border-radius: 10px;
}

@media (max-width: 640px) {
  .Header {
    padding: 15px 0;
  }

  .HeaderGroup {
    grid-template-columns: repeat(2, auto);
  }

  .Header a:nth-child(4) {
    display: none;
  }
  .Header a:nth-child(3) {
    display: none;
  }
  .Header a:nth-child(2) {
    display: none;
  }
}
